<tr>
  <td><%= index_for room_counter, @rooms.current_page, Settings.rooms.page_size %></td>
  <td><%= room.provider_site %></td>
  <td><%= link_to room.code, room %></td>
  <td><%= room.city %></td>
  <td><%= room.district %></td>
  <td><%= room.area %></td>
  <td><%= room.price %></td>
</tr>
